<div class="common-header" style="background-image: url(<%= asset_path 'nature.jpg' %>)">
  <div class="overlay opc-5"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-12">
        <h2>リスティング一覧</h2>
      </div>
      <div class="col-md-6 col-12">
        <div class="text-md-right">
          <%= link_to "HOME", :root %> / <%= link_to "LISTINGS", "#" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pd-80">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-12">
        <%= search_form_for @q do |f| %>
          <div class="form-group">
            <label class="pb-30" for="list-title">リスティング検索</label>
            <%= f.collection_select :city_id_eq, City.joins(:listings).distinct, :id, :name, {}, class: "form-control custom-select" %>
          </div>
          <div class="apply-btn">
            <%= f.submit "検索する", class: "btn p1" %>
          </div>
        <% end %>
      </div>
      <div class="col-xl-8 col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="pb-30 text-sm-right">
            </div>
          </div>
          <% @listings.each do |listing| %>
            <div class="col-lg-6 col-md-12 col-12">
              <div class="card">
                <%= link_to listing do %>
                <!-- <div class="place-img">
                  <%= image_tag listing.main_image.url, class: "listing-main-image" %>
                </div> -->
                <div class="card-bottom">
                  <div class="shop-name">
                    <%= listing.title %>
                  </div>
                  <div class="shop-location-wrapper">
                    <div class="shop-location"><i class="fas fa-map-marker-alt"></i><%= listing.full_address %></div>
                  </div>
                  <% if listing.tel %>
                    <div class="shop-location-wrapper">
                      <div class="shop-location"><i class="fas fa-phone"></i><%= listing.tel %></div>
                    </div>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <%= paginate @listings %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
