<% if @listing.client_staffs.include?(current_client_staff) %>
  <div class="alert alert-warning">
    あなたのリスティングです
    <%= link_to "戻る", mypage_listings_path, class: "btn btn-warning" %>
  </div>
<% end %>

<%= render partial: "shared/errors", locals: {resource: @booking} %>
<% if @listing.image_url_or_main_image? %>
<div class="listing-detail-header" style="background-image: url(<%= @listing.image_url_or_main_image %>)">
  <div class="overlay opc-3"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="listing-detail-ttl">
          <div class="row align-items-center">
            <div class="col-md-6 col-12">
              <h2><%= @listing.title_with_suspension_information %> <i class="far fa-check-square"></i></h2>
              <div class="listing-location"><i class="fas fa-map-marker-alt"></i> <%= @listing.full_address %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="user-profile-main pd-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="user-profile-menu">
          <ul class="nav nav-tabs user-profile-tab" style="margin-bottom:20px;">
            <li class="nav-item"><a href="#overview" class="nav-link">概要</a></li>
            <li class="nav-item"><a href="#gallery" class="nav-link">メニュー</a></li>
          </ul>
        </div>
        <div id="overview">
          <div class="overview-top">
            <h3>店名</h3>
            <p><%= @listing.title %></p>
            <h3>住所</h3>
            <p><%= @listing.full_address %></p>
            <h3>電話番号</h3>
              <% if @listing.tel.present? %>
                <%= link_to "#{@listing.tel}に電話する", "tel:#{@listing.tel.delete('-')}", class: "btn p1" %>
              <% end %>
              <h3>開店時間</h3>
              <p><%= @listing.hours %></p>
              <h3>休日</h3>
              <p><%= @listing.holidays %></p>
              <% if @listing.website_url.presence %>
                <h3>ウェブサイト</h3>
                <p><%= link_to "ウェブサイトへ", @listing.website_url, class: "btn p1", target: :_blank %></p>
              <% end %>
              <% if @listing.twitter_id.presence %>
                <h3>Twitter</h3>
                <p>
                  <%= link_to "https://twitter.com/#{@listing.twitter_id}", class: "btn p1", target: :_blank do %>
                    twitter <i class="fas fa-external-link-alt"></i>
                  <% end%>
                </p>
              <% end %>
              <% if @listing.instagram_id.presence %>
                <h3>Instagram</h3>
                <p>
                  <%= link_to "https://www.instagram.com/#{@listing.instagram_id}", class: "btn p1", target: :_blank do %>
                    instagram <i class="fas fa-external-link-alt"></i>
                  <% end %>
                </p>
              <% end %>
              <% if @listing.facebook_id.presence %>
                <h3>Facebook</h3>
                <p>
                  <%= link_to "https://www.facebook.com/#{@listing.facebook_id}", class: "btn p1", target: :_blank do %>
                    facebook <i class="fas fa-external-link-alt"></i>
                  <% end %>
                </p>
              <% end %>

              <% if @listing.google_map_url.presence %>
                <h3>googleマップ</h3>
                <p>
                  <%= link_to @listing.google_map_url, class: "btn p1", target: :_blank do %>
                    Googleマップで見る <i class="fas fa-external-link-alt"></i>
                  <% end %>
                </p>
              <% end %>

              <% if @listing.tabelog_url? %>
                <h3>食べログ</h3>
                <p>
                  <%= link_to @listing.tabelog_url, class: "btn p1", target: :_blank do %>
                    食べログで見る <i class="fas fa-external-link-alt"></i>
                  <% end %>
                </p>
              <% end %>
              <h3>備考</h3>
              <%= simple_format @listing.description %>
              <h3>自由欄</h3>
              <%= @listing.content %>
              <% if @listing.google_my_map %>
                <h3>引用元</h3>
                <%= link_to @listing.google_my_map.url, class: "btn btn-primary", target: :_blank do %>
                  <%= @listing.google_my_map.name %> <i class="fas fa-external-link-alt"></i>
                <% end %>
              <% end %>
              <% if @listing.support_project? %>
                <h3>みちのく繋がるプロジェクト！の対象店舗です</h3>
                <%= link_to "https://mitinokutunagaru.seesaa.net/article/474470463.html?fbclid=IwAR3YOgxZVnTblT9RZDIwvLx7J1mf7xdi", class: "btn p1", target: "_blank" do %>
                  コロナに負けるな！みちのく繋がるプロジェクト！ <i class="fas fa-external-link-alt"></i>
                <% end %>
              <% end %>

              <h3>編集する</h3>
              <%= link_to "編集する", edit_mypage_listing_path(@listing), class: "btn p1" %>
          </div>
        </div>
      </div>
      <% @listing.foods.each do |food| %>
        <div class="card" id="gallery" style="width: 18rem;">
          <%= image_tag food.main_image.url, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= food.name %></h5>
            <p class="card-text"><%= number_to_currency food.price %></p>
          </div>
        </div>
      <% end %>
      <% @listing.menus.each do |menu| %>
        <div class="card" id="gallery" style="width: 18rem;">
          <%= image_tag menu.image.url, class: "card-img-top" %>
        </div>
      <% end %>
      <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= @listing.title %>&z=16" width="600" height="400" frameborder="0" scrolling="no" ></iframe>
    </div>
  </div>
</div>
