<% if @listing.client_staffs.include?(current_client_staff) %>
  <div class="alert alert-warning">
    あなたのリスティングです
    <%= link_to "戻る", mypage_listings_path, class: "btn btn-warning" %>
  </div>
<% end %>

<%= render partial: "shared/errors", locals: {resource: @booking} %>
<div class="listing-detail-header" style="background-image: url(<%= @listing.main_image.url %>)">
  <div class="overlay opc-3"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="listing-detail-ttl">
          <div class="row align-items-center">
            <div class="col-md-6 col-12">
              <h2><%= @listing.title %> <i class="far fa-check-square"></i></h2>
              <div class="listing-location"><i class="fas fa-map-marker-alt"></i> <%= @listing.full_address %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="user-profile-main pd-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="user-profile-menu">
          <ul class="nav nav-tabs user-profile-tab" style="margin-bottom:20px;">
            <li class="nav-item"><a href="#overview" class="nav-link">概要</a></li>
            <li class="nav-item"><a href="#gallery" class="nav-link">メニュー</a></li>
          </ul>
        </div>
        <div id="overview">
          <div class="overview-top">
            <h3>電話番号</h3>
              <p><%= @listing.tel %></p>
              <h3>開店時間</h3>
              <p><%= @listing.hours %></p>
              <h3>休日</h3>
              <p><%= @listing.holidays %></p>
              <% if @listing.website_url.presence %>
                <h3>ウェブサイト</h3>
                <p><%= link_to "ウェブサイトへ", @listing.website_url, class: "btn p1" %></p>
              <% end %>
              <h3>概要</h3>
              <%= simple_format @listing.description %>
              <h3>メニュー一覧</h3>
          </div>
        </div>
      </div>
      <% @listing.foods.each do |food| %>
        <div class="card" id="gallery" style="width: 18rem;">
          <%= image_tag food.main_image.url, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= food.name %></h5>
            <p class="card-text"><%= number_to_currency food.price %></p>
          </div>
        </div>
      <% end %>

      <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= @listing.full_address %>&z=16" width="600" height="400" frameborder="0" scrolling="no" ></iframe>
    </div>
  </div>
</div>
