%section#article-detail.container{"data-v-b06099f8" => ""}
  #content.clearfix{"data-v-b06099f8" => ""}
    %main{"data-v-b06099f8" => ""}
      #store{"data-v-b06099f8" => ""}
        .info{"data-v-b06099f8" => ""}
          %h2{"data-v-b06099f8" => ""} 店舗情報
          %h3.store-name{"data-v-b06099f8" => ""}
            = @listing.name
          -# %p.genre{"data-v-b06099f8" => ""}
          -#   フレンチ
          .map{"data-v-b06099f8" => ""}
            %iframe{:allowfullscreen => "allowfullscreen", "data-v-b06099f8" => "", :frameborder => "0", :src => "https://maps.google.co.jp/maps?q=#{@listing.address}&z=17&output=embed&iwloc=J&t=m", :style => "border: 0px;"}
          .list{"data-v-b06099f8" => ""}
            .place{"data-v-b06099f8" => ""}
              = @listing.address
            %dl.detail.clearfix{"data-v-b06099f8" => ""}
              %dt.tel{"data-v-b06099f8" => ""}
                電話番号
              %dd{"data-v-b06099f8" => ""}
                %a{"data-v-b06099f8" => "", :href => "tel: 0358268995"}
                  = @listing.tel
              %dt{"data-v-b06099f8" => ""} 営業時間
              %dd{"data-v-b06099f8" => ""}
                - if @listing.open_at || @listing.close_at
                  #{@listing.open_at}~#{@listing.close_at}
              %dt{"data-v-b06099f8" => ""} 定休日
              %dd{"data-v-b06099f8" => ""}
                = @listing.holiday_names
      #article{"data-v-b06099f8" => ""}
        .inner{"data-v-b06099f8" => ""}
          .main{"data-v-b06099f8" => ""}
            %a.store-icon{"data-v-b06099f8" => "", :href => ""}
            .detail{"data-v-b06099f8" => ""}
              = @listing.free_text
    %aside{"data-v-b06099f8" => ""}
      .info{"data-v-b06099f8" => ""}
        %h3.store-name{"data-v-b06099f8" => ""}
          = @listing.name
        .list{"data-v-b06099f8" => ""}
          %dl.detail.clearfix{"data-v-b06099f8" => ""}
            %dt.tel{"data-v-b06099f8" => ""}
              電話番号
            %dd{"data-v-b06099f8" => ""}
              %a{"data-v-b06099f8" => "", :href => "tel: 0358268995"}= @listing.tel
            %dt{"data-v-b06099f8" => ""} 営業時間
            %dd{"data-v-b06099f8" => ""}
              - if @listing.open_at || @listing.close_at
                #{@listing.open_at}~#{@listing.close_at}
            %dt{"data-v-b06099f8" => ""} 定休日
            %dd{"data-v-b06099f8" => ""}= @listing.holiday_names
