<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg hamburger-menu">
      <%= link_to :root, class: "navbar-brand" do %>
        <h1>いわていくあうと</h1>
      <% end %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="Navber">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        </ul>

        <div class="my-2 my-lg-0">
          <div class="dd-header dropdown float-left">
            <% if client_staff_signed_in? %>
              <%= link_to "リスティング一覧", mypage_listings_path, class: "btn p1" %>
              <%= link_to "リスティング登録", new_mypage_listing_path, class: "btn p1" %>
              <%= link_to "ログアウト", destroy_client_staff_session_path, method: :delete, class: "btn p1" %>
            <% else %>
              <%= link_to "【いわていくあうと】とは？", page_path('about'), class: "btn p1" %>
              <%= link_to "お問い合わせ", "https://forms.gle/swa8kjGTCskRL2gv9", class: "btn p1" %>
              <%= link_to "掲載店ログイン", new_client_staff_session_path, class: "btn p1" %>
              <%= link_to "掲載店登録", new_client_staff_registration_path, class: "btn p1" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
