%section#top.container
  #content{"data-v-48728145" => ""}
    #new-appear{"data-v-48728145" => ""}
    #article{"data-v-48728145" => ""}
      .inner.clearfix{"data-v-48728145" => ""}
        #teriyaki{"data-v-48728145" => "", "data-v-79b2de20" => ""}
          %h3{"data-v-79b2de20" => ""} TERIYAKIコラム
          .list{"data-v-79b2de20" => ""}
            %ul{"data-v-79b2de20" => ""}
              - @listings.each do |listing|
                %li{"data-v-79b2de20" => ""}
                  %a{"data-v-79b2de20" => "", :href => listing_path(listing)}
                    .thumb{"data-v-79b2de20" => ""}
                      - if listing.image.attached?
                        = image_tag url_for(listing.image)
                      - else
                        = image_tag asset_path("no_image.png")
                    .detail{"data-v-79b2de20" => ""}
                      %p.title{"data-v-79b2de20" => ""}
                        = listing.name
                      %p.text{"data-v-79b2de20" => ""}
                        = listing.description&.truncate(30)
                      %p.date{"data-v-79b2de20" => ""}
                        = listing.created_at.strftime("%Y/%m/%d")
