<div class="mv" style="background-image: url(<%= asset_path 'iwate.jpg' %>)">
  <div class="overlay opc-3"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>テイクアウトできる飲食店を探しましょう</h2>
      </div>
      <div class="col-md-12 text-center mt-30">
        <%= search_form_for @q, url: listings_path, class: "mv-form bg-white" do |f| %>
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="mv-form-row border-bottom">
                <%= f.collection_select :city_id_eq, City.all, :id, :name, {}, class: "mv-input custom-select" %>
              </div>
            </div>
            <div class="col-lg-3 col-md-12">
              <div class="submit_btn text-right md-left">
                <%= button_tag type: 'submit', class: "btn p1" do %>
                  <i class="fas fa-search"></i> 検索
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row pd-80">
    <div class="col-md-8 offset-md-2 text-center">
      <h2 class="section-ttl">お店一覧</h2>
    </div>

    <% Listing.order(id: :desc).each do |listing| %>
      <div class="col-md-4">
        <div class="card">
          <%= link_to listing do %>
          <div class="place-img">
              <%= image_tag listing.main_image.url, class: "listing-main-image" %>
            </div>
            <div class="card-bottom">
              <div class="shop-name">
                <%= listing.title %>
              </div>
              <div class="shop-location-wrapper">
                <div class="shop-location"><i class="fas fa-map-marker-alt"></i><%= listing.full_address %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row pd-80">
    <div class="col-md-8 offset-md-2 text-center">
      <h2 class="section-ttl">メニュー一覧</h2>
    </div>

    <% Food.order(id: :desc).each do |food| %>
      <div class="col-md-4">
        <div class="card">
          <%= link_to food.listing do %>
          <div class="place-img">
              <%= image_tag food.main_image.url, class: "listing-main-image" %>
            </div>
            <div class="card-bottom">
              <div class="shop-name">
                <%= food.name %>
              </div>
              <div class="shop-location-wrapper">
                <div class="shop-location"><%= number_to_currency food.price %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
