<%= form_with model: [:mypage, listing], local: true do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control", placeholder: "店名" %>
        <%= f.hidden_field :category_id, value: 1 %>
      </div>
    </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code, class: "form-control", placeholder: "000-0000" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :prefecture_id %>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: "form-control custom-select" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :city_id %>
      <%= f.grouped_collection_select :city_id, Prefecture.all, :cities, :name, :id, :name, {}, class: "form-control custom-select" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control", placeholder: "1-1 defsharingマンション 505号室" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :tel %>
      <%= f.text_field :tel, class: "form-control", placeholder: "019-111-1111" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :hours %>
      <%= f.text_field :hours, class: "form-control", placeholder: "9:00~21:00" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :holidays %>
      <%= f.text_field :holidays, class: "form-control", placeholder: "月曜日" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :website_url %>
      <%= f.text_field :website_url, class: "form-control", placeholder: "https://www.iwate-takeout.com/" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :tabelog_url %>
      <%= f.text_field :tabelog_url, class: "form-control", placeholder: "https://tabelog.com/iwate/xxxx/xxxx/xxxxx/" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :facebook_url %>
      <%= f.text_field :facebook_url, class: "form-control", placeholder: "https://www.facebook.com/tomoya.yoshida.73" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :twitter_url %>
      <%= f.text_field :twitter_url, class: "form-control", placeholder: "https://twitter.com/tomoya_y0shida" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :instagram_url %>
      <%= f.text_field :instagram_url, class: "form-control", placeholder: "https://www.instagram.com/tomoya_yoshida_/" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :suspension_information %>
      <%= f.text_field :suspension_information, class: "form-control", placeholder: "休業情報を入力してください。店名の前に表示されます" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <h3>みちのく繋がるプロジェクト！</h3>
      <%= f.radio_button :support_project, true %>
      <%= f.label :support_project, "対象にする" %>
      <%= f.radio_button :support_project, false %>
      <%= f.label :support_project, "対象にしない" %>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :content %>
      <%= f.rich_text_area :content %>
    </div>
  </div>

  <div id="menus">
    <%= f.fields_for :menus do |menu| %>
      <%= render "menu_fields", f: menu %>
    <% end %>
    <div class="col-md-12">
      <div class="form-group">
        <div class="links">
          <%= link_to_add_association 'メニュー表を追加', f, :menus, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <% if session[:enable_image_url] %>
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :image_url %>
        <% if listing.image_url %>
          <%= image_tag listing.image_url %>
        <% end %>
        <%= f.text_field :image_url, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :main_image %>
      <%= image_tag(listing.main_image.url) if listing.main_image? %>
            <%= f.file_field :main_image, class: "form-control filter-input" %>
      <%= f.check_box :remove_main_image %>
      <%= f.label :remove_main_image %>
      <%= f.hidden_field :main_image_cache %>
    </div>
  </div>

  <div id="foods">
    <%= f.fields_for :foods do |food| %>
      <%= render "food_fields", f: food %>
    <% end %>
    <div class="col-md-12">
      <div class="form-group">
        <div class="links">
          <%= link_to_add_association '商品を追加', f, :foods, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <%= f.submit class: "btn p1" %>
    </div>
  </div>
<% end %>
