<div class="pd-80">
  <div class="container">
    <div class="booking-ttl">
      <i class="fas fa-info-circle"></i>
      リスティング一覧
      <%= link_to "新規作成", new_mypage_listing_path, class: "btn p1" %>
    </div>
    <table class="table table-hover">
      <thead class="heading-bg">
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">説明</th>
          <th scope="col">価格</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <!-- heading-bg -->
      <tbody class="table-row">
        <% @listings.each do |listing| %>
          <tr>
            <td><%= listing.title %></td>
            <td><%= listing.description.truncate(100) %></td>
            <td><%= listing.price %></td>
            <td>
              <div class="btn-group" role="group" aria-label="Third group">
                <%= link_to "詳細", [:mypage, listing], class: "btn btn-primary" %>
                <%= link_to "編集", [:edit, :mypage, listing], class: "btn btn-success" %>
                <%= link_to "削除", [:mypage, listing], method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
